body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
*{
    box-sizing: border-box;
}
#body-wrap {
height: 100%;
width: 100%;
padding: 10px;
font-size: 20px;
background-color: lightskyblue;
}
#menu{
    display: table-header-group;
    top: 100%;
    width: 100%;
    height: 10%;
    background-color: red;
}